[defaults]
gathering = smart
stdout_callback = yaml

fact_caching = jsonfile
fact_caching_prefix = {{ caching_prefix }}
fact_caching_connection = {{ caching_connection }}
fact_caching_timeout = {{ caching_timeout }}

forks = {{ forks }}

host_key_checking = {{ host_key_checking | capitalize }}

deprecation_warnings = {{ deprecation_warnings | capitalize }}

# see: https://docs.ansible.com/ansible-core/2.19/reference_appendices/interpreter_discovery.html
interpreter_python = auto_legacy_silent

{% if use_mitogen == true %}
# configure mitogen
strategy_plugins = {{ mitogen_path }}
strategy = {{ mitogen_strategy }}
{% endif %}

[ssh_connection]
pipelining = {{ pipelining | capitalize }}
ssh_args = {{ ssh_args }}
