object Host "{{ host | icinga_string }}-from-{{ icinga_zone | icinga_string }}" {
  # Base config
  import   "generic-host"
  zone     = "{{ icinga_zone | icinga_string }}"
  address  = "{{ ip | icinga_string }}"

  # Check config
  vars.config["check"]["type"]  = "{{ check_type | icinga_string }}"
  vars.config["server"]["tags"] = ["no-fqdn-check"]
}
