object Host "{{ host | icinga_string }}" {
  # Base config
  import   "generic-host"
  zone     = "{{ icinga_zone | icinga_string }}"
  address  = "{{ host | icinga_string }}"
  {%- if notification_period -%}
  vars.notification_period = "{{ notification_period | icinga_string }}"
  {%- endif -%}

  # Override default check command
  check_command = "http"

  {%- if http_ssl -%}
  vars.http_ssl                 = {{ http_ssl }}
  {%- else -%}
  vars.http_ssl                 = true
  {%- endif -%}
  vars.http_timeout             = 15
  {%- if http_check_cert -%}
  vars.http_check_cert          = {{ http_check_cert }}
  {%- else -%}
  vars.http_check_cert          = true
  {%- endif -%}
  {%- if http_sni -%}
  vars.http_sni                 = {{ http_sni }}
  {%- endif -%}
  vars.http_vhost               = "{{ host | icinga_string }}"
  {%- if http_port -%}
  vars.http_port                = {{ http_port }}
  {%- endif -%}
  {%- if http_address -%}
  vars.http_address             = "{{ http_address | icinga_string }}"
  {%- endif -%}
  {%- if http_uri -%}
  vars.http_uri                 = "{{ http_uri | icinga_string }}"
  {%- endif -%}
  {%- if http_expect -%}
  vars.http_expect              = "{{ http_expect | icinga_string }}"
  {%- endif -%}
  {%- if http_expect_body_regex -%}
  vars.http_expect_body_regex   = "{{ http_expect_body_regex | icinga_string }}"
  {%- endif -%}
  vars.config["check"]["type"]  = "http"
  vars.config["vhost"]["type"]  = "{{ subdir | icinga_string }}"
  vars.config["server"]["type"] = "web"
  vars.config["server"]["zone"] = "{{ icinga_zone | icinga_string }}"
  {%- if tags -%}
  vars.config["server"]["tags"] = {{ tags | icinga_array }}
  {%- endif -%}
}
