object Host "{{ hostname }}" {
  # Base config
  import   "generic-host"
  zone     = "{{ icinga_zone }}"
  address  = "{{ ipv4_address }}"
  {%- if notification_period -%}
  vars.notification_period = "{{ notification_period }}"
  {%- endif -%}

  # Check config
  vars.config["check"]["type"] = "{{ check_type }}"

  # Server infos
  vars.config["server"]["zone"]           = "{{ host_zone }}"
  vars.config["server"]["type"]           = "{{ host_type }}"
  vars.config["server"]["tags"]           = {{ tags | string | replace("'", "\"") }}
  vars.config["server"]["os_name"]        = "{{ os_name }}"
  vars.config["server"]["os_family"]      = "{{ os_family }}"
  {%- if os_distro -%}
  vars.config["server"]["os_distro"]      = "{{ os_distro }}"
  {%- endif -%}
  {%- if debian_release -%}
  vars.config["server"]["debian_release"] = "{{ debian_release }}"
  {%- endif -%}
  {%- if host_type == "virtual" -%}
  vars.config["server"]["esx_host"]       = "{{ hosting_node }}"
  {%- endif -%}
  {%- if host_type == "physical" -%}
  vars.config["server"]["vendor_name"]    = "{{ vendor_name }}"
  vars.config["server"]["vendor_model"]   = "{{ vendor_model }}"
  {%- endif -%}
  {%- if true -%}

  # Storage config
  vars.config["storage"]["partitions"] = {{ partitions_list | sort | string | replace("'", "\"") }}
  {%- endif -%}

  {%- if icinga_check_nfs_data -%}
  # NFS config
  vars.config["nfs"]["mountpoints"] = {{ icinga_check_nfs_data["mountpoints"] | string | replace("'", "\"") }}
  {%- endif -%}

  {%- if load_warning and load_critical -%}
  # Load config
  vars.config["load"]["warning"]  = "{{ load_warning }}"
  vars.config["load"]["critical"] = "{{ load_critical }}"
  {%- endif -%}

  {%- if icinga_check_rabbit_data -%}
  # RabbitMQ config
  vars.config["rabbit"]["username"] = "{{ icinga_check_rabbit_data["username"] }}"
  vars.config["rabbit"]["password"] = "{{ icinga_check_rabbit_data["password"] }}"
  vars.config["rabbit"]["node"]     = "{{ icinga_check_rabbit_data["node"] }}"
  vars.config["rabbit"]["queues"]   = [
  {%- for q in icinga_check_rabbit_data["queues"] -%}
  {
    name     = "{{ q['name'] }}"
    warning  = "{{ q['warning'] }}"
    critical = "{{ q['critical'] }}"
  },
  {%- endfor -%}
  ]
  {%- endif -%}
  {%- if icinga_check_mysql_data -%}
  # MariaDB config
  vars.config["mysql"]["username"]    = "{{ icinga_check_mysql_data["username"] }}"
  vars.config["mysql"]["password"]    = "{{ icinga_check_mysql_data["password"] }}"
  vars.config["mysql"]["check_slave"] = {{ icinga_check_mysql_data["check_slave"] }}
  {%- endif -%}
  {%- if icinga_check_postgres_data -%}
  # Postgres config
  vars.config["postgres"]["instances"] = [
  {%- for instance in icinga_check_postgres_data["instances"] -%}
    {
      name     = "{{ instance['name'] }}"
      port     = "{{ instance['port'] }}"
      version  = "{{ instance['version'] }}"
      dbname   = "{{ instance['dbname'] }}"
      username = "{{ instance['username'] | default(icinga_check_postgres_data["username"]) }}"
      password = "{{ instance['password'] | default(icinga_check_postgres_data["password"]) }}"
    },
  {%- endfor -%}
  ]
  {%- endif -%}

  {%- if icinga_check_php_data -%}
  # Php config
  vars.config["php"]["version"] = "{{ icinga_check_php_data["version"] }}"
  {%- endif -%}
  {%- if icinga_check_drac_data -%}
  vars.config["drac"]["exclude_checks"] = {{ icinga_check_drac_data["exclude_checks"] | string | replace("'", "\"") }}
  {%- endif -%}
  {%- if icinga_check_dns_data -%}
  # Check DNS config
  vars.config["check_dns"]["entries"] = [
  {%- for k, v in icinga_check_dns_data["entries"] -%}
    {
      name = "{{ k }}"
      ip = "{{ v }}"
    },
  {%- endfor -%}
  ]
  {%- endif -%}
}
