object Host "{{ hostname }}" {
  # Base config
  import   "generic-host"
  zone     = "{{ icinga_zone }}"
  address  = "{{ ipv4_address }}"

  vars.config["check"]["type"]            = "{{ check_type }}"
  vars.config["server"]["zone"]           = "{{ host_zone }}"
  vars.config["server"]["type"]           = "{{ host_type }}"
  vars.config["server"]["tags"]           = {{ tags | sort | string | replace("'", "\"") }}
  vars.config["server"]["os_name"]        = "{{ os_name }}"
  vars.config["server"]["os_family"]      = "{{ os_family }}"
  {%- if icinga_check_netapp_data["volumes"] -%}
  vars.config["netapp"]["volumes"]        = {{ icinga_check_netapp_data["volumes"] | string | replace("'", "\"") }}
  {%- endif -%}
  {%- if icinga_check_netapp_data["exclude_checks"] -%}
  vars.config["netapp"]["exclude_checks"] = {{ icinga_check_netapp_data["exclude_checks"] | string | replace("'", "\"") }}
  {%- endif -%}
  {%- if icinga_check_netapp_data["aggregates"] -%}
  vars.config["netapp"]["aggregates"]["warning"] = "{{ icinga_check_netapp_data["aggregates"]["warning"] }}"
  vars.config["netapp"]["aggregates"]["critical"] = "{{ icinga_check_netapp_data["aggregates"]["critical"] }}"
  {%- endif -%}
  {%- if icinga_check_netapp_data["check_api"] -%}
  vars.config["netapp"]["check_api"]["base_url"] = "{{ icinga_check_netapp_data["check_api"]["base_url"] }}"
  vars.config["netapp"]["check_api"]["username"] = "{{ icinga_check_netapp_data["check_api"]["username"] }}"
  vars.config["netapp"]["check_api"]["password"] = "{{ icinga_check_netapp_data["check_api"]["password"] }}"
  {%- endif -%}
}
